{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dashboard - View current stock</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %} 
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard-styles.css' %}"> 

    {{form.media}}
    {% endblock %}
</head>
<body>
        {% include "products/navbar.html" %}
        {% block content %} 
        
        {% endblock %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<script src='{% static "Js/graphs.js" %}'></script>
{% endblock %}

{% bootstrap_javascript %}


</body>
</html>